body{
    font-family: Arial;
    background: #f4f4f4;
}

.container{
    width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    margin-top: 40px;
}

a{
    margin-left: 10px;
}
